.about
{
    margin-top:10vw;
}

.aboutme
{
    display:flex;
    justify-content: center;
}

#abnav
{
    display:flex;
    justify-content: center;
    cursor: pointer;
}

.skills,.cert,.education
{
    background-color: white;
    padding:50px;
    border-radius: 15px;
    display:flex;
}

#head
{
    padding:5px;
    background-color: #FFEF00;
    align-self: center;
    border-radius: 10px;
}


#abitem
{
    margin:3vw;
    transition: color 1s;
}

.cert,.education
{
    display:none;
}

#abitem:hover
{
    color:#FFEF00;
    border-bottom:2px solid #FFEF00;
}

.high
{
    color:black;
}

.aboutme h2
{
    color:black;
}

ul li
{
    padding:10px;
    list-style-type: none;
    color:black;
}

